.elementor-27 .elementor-element.elementor-element-89751e6 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: center;
}
.elementor-27
  .elementor-element.elementor-element-89751e6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-27
  .elementor-element.elementor-element-89751e6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://nihon-biso.netlify.app/placeholder.svg?height=300&width=1920");
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-27 .elementor-element.elementor-element-2a80075 {
  font-family: "Inter", Sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.elementor-27 .elementor-element.elementor-element-60d4a9b {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
}
.elementor-27 .elementor-element.elementor-element-15db3cd {
  margin: 116px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  text-align: center;
}
.elementor-27
  .elementor-element.elementor-element-15db3cd
  .elementor-heading-title {
  font-family: "Inter", Sans-serif;
  font-weight: 600;
  color: #1f2937;
}
.elementor-27 .elementor-element.elementor-element-beaf224 {
  --display: flex;
}
.elementor-27 .elementor-element.elementor-element-e6588de {
  --display: grid;
  --e-con-grid-template-columns: repeat(2, 1fr);
  --e-con-grid-template-rows: repeat(2, 1fr);
  --grid-auto-flow: row;
}
.elementor-27 .elementor-element.elementor-element-103fa1b {
  --display: flex;
}
.elementor-27 .elementor-element.elementor-element-f069ec6 {
  --display: flex;
  --overlay-opacity: 0.5;
}
.elementor-27
  .elementor-element.elementor-element-f069ec6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-27
  .elementor-element.elementor-element-f069ec6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://nihon-biso.netlify.app/placeholder.svg?height=300&width=400");
}
.elementor-27 .elementor-element.elementor-element-f069ec6::before,
.elementor-27
  .elementor-element.elementor-element-f069ec6
  > .elementor-background-video-container::before,
.elementor-27
  .elementor-element.elementor-element-f069ec6
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-27
  .elementor-element.elementor-element-f069ec6
  > .elementor-background-slideshow::before,
.elementor-27
  .elementor-element.elementor-element-f069ec6
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-27
  .elementor-element.elementor-element-f069ec6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  background-color: #757575;
  --background-overlay: "";
}
.elementor-27 .elementor-element.elementor-element-ea0459d {
  --display: flex;
}
.elementor-27
  .elementor-element.elementor-element-cbaea96
  .elementor-heading-title {
  color: #4caf50;
}
.elementor-27
  .elementor-element.elementor-element-7eb22d1
  .elementor-heading-title {
  color: #4caf50;
}
.elementor-27
  .elementor-element.elementor-element-8876c18
  .elementor-heading-title {
  color: #4caf50;
}
.elementor-27 .elementor-element.elementor-element-856045a {
  --display: flex;
}
.elementor-27 .elementor-element.elementor-element-2de2846 {
  --display: flex;
  --overlay-opacity: 0.5;
}
.elementor-27
  .elementor-element.elementor-element-2de2846:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-27
  .elementor-element.elementor-element-2de2846
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://nihon-biso.netlify.app/placeholder.svg?height=300&width=400");
}
.elementor-27 .elementor-element.elementor-element-2de2846::before,
.elementor-27
  .elementor-element.elementor-element-2de2846
  > .elementor-background-video-container::before,
.elementor-27
  .elementor-element.elementor-element-2de2846
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-27
  .elementor-element.elementor-element-2de2846
  > .elementor-background-slideshow::before,
.elementor-27
  .elementor-element.elementor-element-2de2846
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-27
  .elementor-element.elementor-element-2de2846
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  background-color: #757575;
  --background-overlay: "";
}
.elementor-27 .elementor-element.elementor-element-97e0787 {
  --display: flex;
}
.elementor-27
  .elementor-element.elementor-element-887bcc6
  .elementor-heading-title {
  color: #4caf50;
}
.elementor-27
  .elementor-element.elementor-element-a83ea1d
  .elementor-heading-title {
  color: #4caf50;
}
.elementor-27
  .elementor-element.elementor-element-ef7c828
  .elementor-heading-title {
  color: #4caf50;
}
.elementor-27 .elementor-element.elementor-element-fec08dd {
  --display: flex;
}
.elementor-27 .elementor-element.elementor-element-d85bf89 {
  --display: flex;
  --overlay-opacity: 0.5;
}
.elementor-27
  .elementor-element.elementor-element-d85bf89:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-27
  .elementor-element.elementor-element-d85bf89
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://nihon-biso.netlify.app/placeholder.svg?height=300&width=400");
}
.elementor-27 .elementor-element.elementor-element-d85bf89::before,
.elementor-27
  .elementor-element.elementor-element-d85bf89
  > .elementor-background-video-container::before,
.elementor-27
  .elementor-element.elementor-element-d85bf89
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-27
  .elementor-element.elementor-element-d85bf89
  > .elementor-background-slideshow::before,
.elementor-27
  .elementor-element.elementor-element-d85bf89
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-27
  .elementor-element.elementor-element-d85bf89
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  background-color: #757575;
  --background-overlay: "";
}
.elementor-27 .elementor-element.elementor-element-3773b42 {
  --display: flex;
}
.elementor-27
  .elementor-element.elementor-element-148f2ff
  .elementor-heading-title {
  color: #4caf50;
}
.elementor-27
  .elementor-element.elementor-element-de72c33
  .elementor-heading-title {
  color: #4caf50;
}
.elementor-27
  .elementor-element.elementor-element-1b87b48
  .elementor-heading-title {
  color: #4caf50;
}
.elementor-27 .elementor-element.elementor-element-cb73828 {
  --display: flex;
}
.elementor-27 .elementor-element.elementor-element-ad02806 {
  --display: flex;
  --overlay-opacity: 0.5;
}
.elementor-27
  .elementor-element.elementor-element-ad02806:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-27
  .elementor-element.elementor-element-ad02806
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://nihon-biso.netlify.app/placeholder.svg?height=300&width=400");
}
.elementor-27 .elementor-element.elementor-element-ad02806::before,
.elementor-27
  .elementor-element.elementor-element-ad02806
  > .elementor-background-video-container::before,
.elementor-27
  .elementor-element.elementor-element-ad02806
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-27
  .elementor-element.elementor-element-ad02806
  > .elementor-background-slideshow::before,
.elementor-27
  .elementor-element.elementor-element-ad02806
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-27
  .elementor-element.elementor-element-ad02806
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  background-color: #757575;
  --background-overlay: "";
}
.elementor-27 .elementor-element.elementor-element-3a4d0cb {
  --display: flex;
}
.elementor-27
  .elementor-element.elementor-element-afbb4e7
  .elementor-heading-title {
  color: #4caf50;
}
.elementor-27
  .elementor-element.elementor-element-5de81d0
  .elementor-heading-title {
  color: #4caf50;
}
.elementor-27
  .elementor-element.elementor-element-52296b8
  .elementor-heading-title {
  color: #4caf50;
}
@media (max-width: 1024px) {
  .elementor-27 .elementor-element.elementor-element-e6588de {
    --grid-auto-flow: row;
  }
}
@media (max-width: 767px) {
  .elementor-27 .elementor-element.elementor-element-e6588de {
    --e-con-grid-template-columns: repeat(1, 1fr);
    --grid-auto-flow: row;
  }
}
