#biso_nav a{
    color:rgb(215, 215, 215) !important;
    text-decoration: none !important;
/* background-color: blueviolet; */
    /* back */
}

#biso_nav li{
    padding: 5px 7px;
}
#biso_nav li:hover a{
     color:rgb(255, 255, 255) !important; 
}

会社紹介
業務案内
対応エリア
廃棄物ガイド
作業実績
ブログ
採用情報
お問い合わせ
Webお見積り
